@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(71,108,193);
    background: linear-gradient(295deg, rgba(71,108,193,1) 0%, rgba(121,196,199,1) 49%, rgba(226,133,255,1) 100%);
}

.todolist__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    max-width: 700px;
    margin: auto;
    gap: 10px;
}